@import "tailwindcss";

@import "tailwindcss";

:root {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

body {
  font-family: var(--font-inter);
  background-color: #ffffff;
  color: #000000;
  /* Anti-aliasing for crisp text */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
  font-weight: 400;
  /* Editorial look is often lighter */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-serif {
    font-family: var(--font-playfair);
  }
}

/* Hide scrollbar for clean horizontal scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}